@model SistemaVendasWeb.Models.Funcionario;

<div class="row">
    <div class="col-lg-4 div-img-dt-funcionario">
        <img src="@Url.Content(Model.Imagem.URL)" class="img-thumbnail img-responsive imagem-perfil" width="400" height="400" />
    </div>
    <div class="col-lg-4 div-dados-funcionario">
        <div class="panel">
            <div class="panel-header"><span>Funcionário</span></div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Nome)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Telefone)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Telefone)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DataNascimento)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DataNascimento)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Status.Descricao)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Status.Descricao)
                    </dd>
                </dl>

                <a class="btn btn-default" asp-controller="Funcionario" asp-action="Editar" asp-route-id="@Model.Id">Editar</a>
            </div>
        </div>
    </div>
</div>

