@model SistemaVendasWeb.Models.Funcionario;

<h2>Funcionários</h2>

<p>Tem certeza que deseja exluir este funcionário?</p>

<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Nome)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Nome)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Telefone)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Telefone)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.DataNascimento)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.DataNascimento)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Status.Descricao)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Status.Descricao)
    </dd>
</dl>
<form asp-action="Excluir">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Excluir" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-link">Voltar</a>
</form>