@model IEnumerable<SistemaVendasWeb.Models.Funcionario>

@{
    ViewData["Title"] = "Funcionários";
}

<h2>@ViewData["Title"]</h2>



<p>Relação de funcionários cadastrados</p>

<br />

<form class="form-group row-no-gutters" asp-controller="Funcionario" asp-action="Index">
    <div class="col-sm-4">
        <a asp-action="Criar" class="btn btn-default btn-sm">Novo</a>
        <a asp-action="Exportar" class="btn btn-success btn-sm">Exportar</a>
    </div>
    <div class="col-sm-1">
        Filtro
    </div>
    <div class="col-sm-2 select-search">
        <select class="form-control input-sm" aria-label="Default select example" name="sFiltro">
            <option selected value="0">Nome</option>
            <option value="1">Email</option>
            <option value="2">Telefone</option>
        </select>
    </div>
    <div class="col-sm-2 mr-col">
        <input class="form-control input-sm" type="text" name="txtProcurar">
    </div>
    <div class="col-sm-1 mr-col">
        <button type="submit" class="btn btn-primary btn-sm">Filtrar</button>
    </div>
</form>

<br />

<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status.Descricao)
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Funcionario funcionario in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelFuncionario => funcionario.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelFuncionario => funcionario.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelFuncionario => funcionario.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelFuncionario => funcionario.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelFuncionario => funcionario.Status.Descricao)
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@funcionario.Id">Editar</a>
                    <a asp-action="Detalhes" asp-route-id="@funcionario.Id">Detalhes</a>
                    <a href="#" class="btn-link" data-toggle="modal" data-target="#modalExcluir" onclick="excluirFuncionarioModal(@funcionario.Id, '@funcionario.Nome')">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>@ViewData["informacao"]</p>

<partial name="Partials/Funcionario/_FuncionarioExcluirModalPartial" />

@section Scripts{
    <script src="~/js/funcionario/funcionarioIndexScript.js"></script>
}