@model IEnumerable<SistemaVendasWeb.Models.Funcionario>

@{
    ViewData["Title"] = "Funcionários";
}

<h2>@ViewData["Title"]</h2>



<p>Relação de funcionários cadastrados</p>

<br />


<form class="form-group row-no-gutters" asp-controller="Funcionario" asp-action="Index">
    <div class="col-sm-7">
        <a asp-action="Criar" class="btn btn-default">Novo</a>
    </div>
    <div class="col-md-2 mr-col">
        <select class="form-control" aria-label="Default select example" name="sFiltro">
            <option selected value="1">Nome</option>
            <option value="2">Email</option>
            <option value="3">Telefone</option>
        </select>
    </div>
    <div class="col-md-2 mr-col">
        <input class="form-control" type="text" name="txtProcurar">
    </div>
    <div class="mr-col">
        <button type="submit" class="btn btn-primary mb-2">Filtrar</button>
    </div>
</form>

<br />

<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status.Descricao)
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Funcionario funcionario in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelFuncionario => funcionario.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelFuncionario => funcionario.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelFuncionario => funcionario.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelFuncionario => funcionario.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelFuncionario => funcionario.Status.Descricao)
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@funcionario.Id">Editar</a>
                    <a asp-action="Detalhes" asp-route-id="@funcionario.Id">Detalhes</a>
                    <a asp-action="Excluir" asp-route-id="@funcionario.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

